In [1]:
import os
import csv
import pandas as pd
import numpy as np

school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [2]:
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [3]:
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [5]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [6]:
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [7]:
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [8]:
school_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [9]:
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [10]:
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [11]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [12]:
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

C:\Users\Ryan\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [13]:
print(student_data_df)

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]

In [14]:
# Replace Thomas High School math and reading scores with NaN

student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), "reading_score"] = np.nan

student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), "math_score"] = np.nan

In [15]:
# Confirming replacement of 9th grade scores in Thomas High School

student_data_df.tail(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80.0,75.0
39151,39151,Shannon Williams,F,10th,Thomas High School,84.0,73.0
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,NaN
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,NaN
39154,39154,Bradley Johnson,M,12th,Thomas High School,91.0,71.0
39155,39155,John Brooks,M,10th,Thomas High School,92.0,98.0
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79.0,95.0
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,NaN
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90.0
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72.0
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [16]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.tail(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80.0,75.0,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84.0,73.0,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91.0,71.0,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92.0,98.0,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79.0,95.0,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90.0,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72.0,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [17]:
trash_data = school_data_complete_df["reading_score"].isnull().sum()

trash_data

461

In [18]:
total_student_count = school_data_complete_df["School ID"].count()

total_student_count

39170

In [19]:
student_count_revised = total_student_count - trash_data

student_count_revised

38709

In [20]:
school_count = len(school_data_complete_df["school_name"].unique())

school_count

15

In [21]:
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [22]:
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.85579580976001

In [23]:
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.93053295099331

In [24]:
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

passing_math.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [25]:
# New variable for students passing math
passing_math_count = passing_math["student_name"].count()

# New variable for students passing reading
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count)
print(passing_reading_count)

28939
33158

In [26]:
# Calculate percentage of students passing math
passing_math_percent = passing_math_count / float(student_count_revised) * 100

# Calculate percentage of students passing reading
passing_reading_percent = passing_reading_count / float(student_count_revised) * 100

print(passing_math_percent)
print(passing_reading_percent)

74.76039164018704
85.6596657108166

In [27]:
# Calculate number of students passing both math and reading

passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94.0,94.0,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82.0,80.0,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95.0,87.0,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96.0,84.0,0,District,2917,1910635

In [28]:
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

overall_passing_math_reading_count

25105

In [29]:
overall_passing_percent = overall_passing_math_reading_count / float(student_count_revised) * 100

overall_passing_percent

64.85571830840374

In [30]:
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
     "Total Students": student_count,
     "Total Budget": total_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "% Passing Math": passing_math_percent,
     "% Passing Reading": passing_reading_percent,
     "% Overall Passing": overall_passing_percent}])

NameError: name 'student_count' is not defined

In [ ]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df

In [ ]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df

In [ ]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

In [ ]:
district_summary_df

In [ ]:
# A list can be used to reorder DataFrame headers

new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

district_summary_df = district_summary_df[new_column_order]
district_summary_df

In [ ]:
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

In [ ]:
df = pd.DataFrame(per_school_types)
df

In [ ]:
# Calculate number of students for each school, set school name as index

per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
# Count number of times the highschool appears in the data frame to obtain school size

per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School").notnull().sum()

In [ ]:
# Number of 10th-12th grade students from Thomas High School

thomas_good_student_count = 1174

In [ ]:
# Number of students passing math for Thomas High School

thomas_passing_math = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["math_score"] >= 70)].count()["student_name"]

thomas_passing_math

In [ ]:
thomas_passing_reading = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

thomas_passing_reading

In [ ]:
thomas_passing_reading_math = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

thomas_passing_reading_math

In [ ]:
thomas_percnt_passing_reading = thomas_passing_reading / float(thomas_good_student_count) * 100

thomas_percnt_passing_reading

In [ ]:
thomas_percnt_passing_math = thomas_passing_math / float(thomas_good_student_count) * 100

thomas_percnt_passing_math

In [ ]:
thomas_percnt_passing_reading_math = thomas_passing_reading_math / float(thomas_good_student_count) * 100

thomas_percnt_passing_reading_math

In [ ]:
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
per_capita_spending = per_school_budget / per_school_counts
per_capita_spending

In [ ]:
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
per_school_math

In [ ]:
per_school_reading

In [ ]:
#Using same code as before to calculate number of students passing reading and math

per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [ ]:
per_school_passing_math

In [ ]:
#Group by school name because school name appears many times in dataframe

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
per_school_passing_math

In [ ]:
per_school_passing_reading

In [ ]:
percnt_school_passing_math = per_school_passing_math / per_school_counts * 100

percnt_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [ ]:
percnt_school_passing_math

In [ ]:
percnt_school_passing_reading

In [ ]:
#Overall data for students passing math and reading

per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]


per_passing_math_reading.head()

In [ ]:
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

per_passing_math_reading

In [ ]:
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

per_overall_passing_percentage

In [ ]:
#New dataframe to format collected data

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_capita_spending,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": percnt_school_passing_math,
           "% Passing Reading": percnt_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.tail()

In [ ]:
per_school_summary_df.loc["Thomas High School", "% Passing Math"] = thomas_percnt_passing_math

per_school_summary_df.loc["Thomas High School", "% Passing Reading"] = thomas_percnt_passing_reading

per_school_summary_df.loc["Thomas High School", "% Overall Passing"] = thomas_percnt_passing_reading_math

In [ ]:
per_school_summary_df.tail()

In [ ]:
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [ ]:
per_school_summary_df

In [ ]:
#Filtering top schools by % Overall Passing

top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

In [ ]:
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

In [ ]:
#Creating grade level dataframes

ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]


ninth_graders.head()

In [ ]:
#Finding average math scores per school by grade level

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [ ]:
#Finding average reading scores per school by grade level

ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
math_scores_by_grade = pd.DataFrame({
                    "9th": ninth_grade_math_scores,
                    "10th": tenth_grade_math_scores,
                    "11th": eleventh_grade_math_scores,
                    "12th": twelfth_grade_math_scores})

math_scores_by_grade.tail()

In [ ]:
reading_scores_by_grade = pd.DataFrame({
                    "9th": ninth_grade_reading_scores,
                    "10th": tenth_grade_reading_scores,
                    "11th": eleventh_grade_reading_scores,
                    "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.tail()

In [ ]:
#Format math scores to one decimal point

math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

#Ensure columns are in correct order

math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]

#Remove index name

math_scores_by_grade.index.name = None

math_scores_by_grade.tail()

In [ ]:
#Format math scores to one decimal point

reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:.1f}".format)

#Ensure columns are in correct order

reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]

#Remove index name

reading_scores_by_grade.index.name = None

reading_scores_by_grade.tail()

In [ ]:
#Find descriptive statistics related to per student spending

per_capita_spending.describe()

In [ ]:
#Cut the spending list into spending ranges

spending_bins = [0, 585, 630, 645, 675]
per_capita_spending.groupby(pd.cut(per_capita_spending, spending_bins)).count()

In [ ]:
#Naming each spending range

spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$586", "$586-630", "$631-645", "$646-675"]

In [ ]:
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_capita_spending, spending_bins, labels=group_names)
per_school_summary_df

In [ ]:
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

overall_passing_spending

In [ ]:
spending_summary_df = pd.DataFrame({
                "Average Math Score": spending_math_scores,
                "Average Reading Score": spending_reading_scores,
                "% Passing Math": spending_passing_math,
                "% Passing Reading": spending_passing_reading,
                "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
# Formatting
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

In [ ]:
#Create school size bins and labels

size_bins = [0, 999, 1999, 5000]
bin_labels = ["Small (<1000)", "Medium (1000-1999)", "Large (2000-5000)"]

per_school_summary_df

In [ ]:
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=bin_labels)

per_school_summary_df.head()

In [ ]:
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
#Add new series to a dataframe summary

size_summary_df = pd.DataFrame({
            "Average Math Score": size_math_scores,
            "Average Reading Score": size_reading_scores,
            "% Passing Math": size_passing_math,
            "% Passing Reading": size_passing_reading,
            "% Overall Passing": size_overall_passing})

size_summary_df

In [ ]:
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

In [ ]:
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
type_summary_df = pd.DataFrame({
            "Average Math Score": type_math_scores,
            "Average Reading Score": type_reading_scores,
            "% Passing Math": type_passing_math,
            "% Passing Reading": type_passing_reading,
            "% Overall Passing": type_overall_passing})

type_summary_df

In [ ]:
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df